<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户信息</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/userManage.css}">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
    <style>
        .user-info{
            width: 50%;
            margin: 0 auto;
        }
        .infos{
            margin-top:20px;
            margin-left: 20px;
        }
        .detail{
            color:#778899;
            font-size: medium;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div class="user-info">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">用户信息</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="infos">
            <div class="info">

                <img height="45" width="45" style="border-radius: 50%;margin-bottom: 30px "
                     src=''>
                    <span style="font-size: larger;font-weight: bolder;margin-left: 10px">周敏学</span>
                </img>

                <div>
                    <div style="display: inline-block;width:50%">
                        <div class="detail">账号：<span>Gause</span></div>
                        <div class="detail">最新登录时间：<span>2018年03月28日 17:41</span></div>
                    </div>

                    <div style="display: inline-block;">
                        <div class="detail">姓名：<span>周敏学</span></div>
                        <div class="detail">性别：<span>男</span></div>
                    </div>
                </div>


            </div>

            <div style="border: #DCDCDC solid thin;margin: 30px 0"></div>

            <div class="account-info">
                <div style="font-size: larger;font-weight: bolder; margin-bottom: 20px">个人信息</div>
                <div>
                    <div style="display: inline-block;width:50%">
                        <div class="detail">账号状态：<span>正常</span></div>
                        <div class="detail">组织：<span>产品开发</span></div>
                        <div class="detail">职位：<span>产品开发</span></div>

                    </div>

                    <div style="display: inline-block;">
                        <div class="detail">手机号码：<span>13760426334</span></div>
                        <div class="detail">邮箱：<span>2647131486@qq.com</span></div>
                        <div class="detail">角色列表：<span>ROLE_ADMIN,ROLE_USER</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>